# dependencies
node_modules/

# env / secrets
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor cruft
.DS_Store
*.swp

# builds (not used here, but safe)
dist/
build/
